/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 48px;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  text-align: center;
}

.flex-container {
  display: flex;
  text-align: center;
  height: 500px;
}

.flex-child {
  flex: 1;
  border: 2px solid black;
  text-align: center;
  
} 

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.button {
  background-color: #c74635; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin-right: 10px;
  margin-left: 10px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
